
<div *ngIf="bookId; else elseBlock" class="row m-3">
    <div class="col-6">
        <label for="">Nombre del Libro</label>
        <h3 class="fw-bolder fs-5">{{bookNombre}}</h3>
        <label for="">Nombre del Autor</label>
        <h3 class="fw-bolder fs-5"><span class="autor" (click)="onSelect(bookIdAutor)">{{bookAutor}}</span></h3>
        <button type="button" [routerLink]="['/home', bookId]">Editar Libro</button>
    </div>
    <div class="col-6 text-center">
        <img src={{bookImg}} style="width:200px;height:300px;">
    </div>
</div>
<ng-template #elseBlock>
    <div class="m-3">
        <h3 class="text-center fw-bolder fs-4"> No ha selecciona un libro</h3>
        <p class="text-center">Acceda a la ruta de libros y escoja uno.</p>
    </div>
</ng-template>
